.wikiEditorToolBar
{
    background: #4444FF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.wikiEditorToolBar > div
{
    display: inline-block;
    float: left;
}
.wikiEditorToolBar > div > a
{
    padding: 5px;
    border: none;
    color: White;
    display: inline-block;
}
.wikiEditorToolBar > div > a:hover
{
    background: #0000CC;
}
.wikiEditorToolBar > div > select
{
    margin: 5px;
}
.wikiEditorToolBar > div > input
{
    margin-top: 5px;
}
.wikiEditorPreviewButton:hover
{
    background: red;
}
